/* #info {

} */

svg.node-tree {
    padding-left: 10px;
    padding-right: 10px;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
  cursor: pointer;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
